{%  extends 'accounts/main.html' %}
{% block content %}
    
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <br>
                    <p>Are you sure to delete {{order.product.name}}?</p>
                    <a  class="btn btn-sm btn-warning" href="{% url 'home' %}"> cancel</a>
                    <input class="btn btn-sm btn-danger" type="submit" value="confirm">
                </form>

                </div>
            </div>
        </div>
        

{% endblock %}